body{
    background-color: #2A9D8F;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

.deleteForm {
    display: inline;
}

#headerPadding{
    margin-top: 7%;
}

.centerText{
    width: 30%; 
    text-align: center;
    margin: 25px auto;
}

/*Index.ejs*/

.indexThumbnail{
    width: 100%;
    height: 85%;
    padding: 10px;
}

#thumbnailImage{
    width: 100%;
    height: 65%;
    object-fit: contain;
}

.thumbnailSpacing{
    display: flex; 
    flex-wrap: wrap;
}

/*Show.ejs*/
#map{
    height: 500px;
    width: 100%;
}

.thumbnailStyling{
    padding: 10px 10px;
}

.glyphicon-star{
    color: #e5e54e;
}

.commentBox{
    border-left: 5px solid #00C851;
}

.commentPadding{
    margin-top: 10px;
}

.textForms{
    overflow: hidden;
    resize: none;
}

/*User.ejs*/
.userThingThumbnail{
    width: 100%;
    height: 85%;
    padding: 5px;
}

.userThumbnailSpacing{
    display: flex; 
    flex-wrap: wrap;
}

/*Media queries for mobile */
@media (max-width: 420px){
    #headerPadding{
        margin-top: 17%;
    }
    .col-md-3{
        margin: auto;
        width: 100%;
    }
    .centerText{
        width: 75%;
    }
    .userThumbnailSpacing{
        display: block;
    }
}