<% include partials/header %>

<h1>This is the show page with item information!</h1>

<p><%= item.name %></p>

<img src="<%= item.image %>"/>

<p><%= item.description %></p>

<% include partials/footer %>