<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to Rate This Thing!</h1>
        <p>Check out all these cool things!</p>
        <p>
            <a class="btn btn-primary btn-large" href="/things/new">Add your own thing!</a>
        </p>
    </div>
</header>
<div class="row text-center thumbnailSpacing">
    <% things.forEach(function(thing){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail indexThumbnail">
                <img src="<%= thing.image %>" id="thumbnailImage"/>
                <hr style="margin: 10px 0 0 0;">
                <div class="caption" style="padding-top: 0;">
                    <h4><%= thing.name %></h4>
                </div>
                <p>
                    <a href="/things/<%= thing._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
    
<% include ../partials/footer %>